/**
 * Button Component
 * Includes: .btn, .btn-default
 * Uses border-image with slicing for pixel-perfect SVG borders
 */

.btn,
.btn-default {
  min-height: 23px;
  min-width: 59px;
  padding: 3px 12px;
  text-align: center;
  background: var(--color-white);
  background-clip: padding-box;
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-family: Chicago_12;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-image-source: url('../../icon/button.svg');
  border-image-slice: 3 fill;
  border-image-width: 3px;
}

.btn:active {
  background: var(--color-black);
  background-clip: padding-box;
  color: var(--color-white);
}

.btn:disabled {
  color: var(--text-disabled);
  cursor: default;
  pointer-events: none;
}

.btn-default {
  position: relative;
}

.btn-default::before {
  content: '';
  position: absolute;
  /* Position outside the button */
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-style: solid;
  border-width: 1px;
  border-image-source: url('../../icon/button-default.svg');
  border-image-slice: 7; /* no fill - transparent center */
  border-image-width: 7px;
  pointer-events: none; /* clicks pass through to button */
}

.btn-default:active {
  background: var(--color-black);
  background-clip: padding-box;
  color: var(--color-white);
  /* The ::before outer ring stays unchanged! */
}