/**
 * Button Component
 * Includes: .btn, .btn-default
 * Uses border-image with slicing for pixel-perfect SVG borders
 */

.btn,
.btn-default {
  min-height: var(--btn-min-height);
  min-width: var(--btn-min-width);
  padding: var(--btn-padding-v) var(--btn-padding-h);
  text-align: center;
  background: var(--color-white);
  background-clip: padding-box;
  color: var(--text-color);
  text-decoration: none;
  font-size: calc(9 * var(--base-unit));
  font-family: Chicago_12;
  cursor: pointer;
  border-style: solid;
  border-width: calc(0.5 * var(--base-unit));
  border-image-source: url('../../icon/button.svg');
  border-image-slice: var(--btn-border-slice) fill;
  border-image-width: var(--btn-border-width);
}

.btn:active {
  background: var(--color-black);
  background-clip: padding-box;
  color: var(--color-white);
}

.btn:disabled {
  color: var(--text-disabled);
  cursor: default;
  pointer-events: none;
}

.btn-default {
  position: relative;
}

.btn-default::before {
  content: '';
  position: absolute;
  /* Position outside the button */
  top: calc(-1 * var(--btn-default-offset));
  left: calc(-1 * var(--btn-default-offset));
  right: calc(-1 * var(--btn-default-offset));
  bottom: calc(-1 * var(--btn-default-offset));
  border-style: solid;
  border-width: calc(0.5 * var(--base-unit));
  border-image-source: url('../../icon/button-default.svg');
  border-image-slice: var(--btn-default-border-slice); /* no fill - transparent center */
  border-image-width: var(--btn-default-border-width);
  pointer-events: none; /* clicks pass through to button */
}

.btn-default:active {
  background: var(--color-black);
  background-clip: padding-box;
  color: var(--color-white);
  /* The ::before outer ring stays unchanged! */
}