/**
 * Base Typography & Body Styles
 */

body {
  background-color: var(--desktop-pattern-dark);
  background-image: url("data:image/svg+xml,%3Csvg width='2' height='2' viewBox='0 0 2 2' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='1' height='1' fill='%23c8c8c8'/%3E%3Crect x='1' y='1' width='1' height='1' fill='%23c8c8c8'/%3E%3C/svg%3E");
  background-size: var(--pattern-size) var(--pattern-size);
  background-attachment: fixed;
  font-family: Chicago, Geneva, sans-serif;
  color: var(--text-color);
}

a {
  color: var(--secondary);
  text-decoration: underline;
}

hr {
  border-top: calc(0.075 * var(--base-unit)) solid var(--secondary);
}

h1,
.heading {
  font-family: Chicago;
  font-size: 1em;
}

h2 {
  font-family: Chicago;
  font-size: 2em;
}

form {
  font-family: "Inconsolata", Menlo, Chicago, Geneva;
  font-size: calc(7 * var(--base-unit));
}