/**
 * Base Typography & Body Styles
 */

body {
  font-family: Chicago, Geneva, sans-serif;
  color: var(--text-color);
}

a {
  color: var(--secondary);
  text-decoration: underline;
}

hr {
  border-top: calc(0.075 * var(--base-unit)) solid var(--secondary);
}

h1,
.heading {
  font-family: Chicago;
  font-size: 1em;
}

h2 {
  font-family: Chicago;
  font-size: 2em;
}

form {
  font-family: "Inconsolata", Menlo, Chicago, Geneva;
  font-size: calc(7 * var(--base-unit));
}