/**
 * Utility Classes
 */

.desktop-pattern {
  background-color: var(--desktop-pattern-dark);
  background-image: url("data:image/svg+xml,%3Csvg width='2' height='2' viewBox='0 0 2 2' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='1' height='1' fill='%23c8c8c8'/%3E%3Crect x='1' y='1' width='1' height='1' fill='%23c8c8c8'/%3E%3C/svg%3E");
  background-size: 4px 4px;
}