/**
 * Utility Classes
 */

.desktop-pattern {
  background-color: var(--desktop-pattern-dark);
  background-image: url("../../icon/bg-pattern.svg");
  background-size: var(--pattern-size) var(--pattern-size);
  background-attachment: fixed;
}